/* @font-face { 
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
    font-style: normal;
    font-weight: regular;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.ttf');
    font-style: normal;
    font-weight: light;
} */
:root{

    --grisclarito: #e9e9e9;
    --grisclaroscuro: #A5A3A5;
    --grispre: #3A3539;
    --grisdefondo: #251f24;
    --grisdegradado: #314755;
    --azuldegradado: #26A0DA;

}

*{
    /* margin: 0; */
    /* list-style: none; */
    /* writing-mode: vertical-rl; */
    /* direction: rtl; */
    /* padding: 0; */
    margin: 0;
    text-decoration: none;
}  
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
}

.bg-image{

    padding: 0;
    margin: 0;
    background-color: #3c8fc7;
    background-image: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%), url(../imgs/imagenes/patron-1.png);
    block-size: 100px;

}

body{
    background: var(--grisdefondo);
    color: var(--grisclarito);
    font-family: 'Nunito', sans-serif;
    font-style: regular;

}

summary{
    margin-block-end: 16px;
}

/* font-size's */

nav a{
    font-size: 14px;
    color: var(--grisclaroscuro);
    margin-block-start: 16px;
}
nav a:hover{

    color: var(--grisclarito);

}
nav summary{
    font-weight: bold;
    color: var(--grisclarito);
}
nav summary:hover{
    cursor: pointer;
}
/* .header{
    position: sticky;
    inset-block-start: -40px;
} */
header li{
    color: var(--grisclaroscuro);
    margin-block-end: 16px;
}
.header-content{
    /* position: relative;
    inset-block-start: 65px; */
    padding-inline: 20px;
}
header{
    /* position: absolute; */
    /* top:; */
    /* inset-block-start: 0; */
    /* bottom: ; */
    /* inset-block-end: ; */
    /* left: ; */
    /* inset-inline-start: -148px; */
    /* right: ; */
    /* inset-inline-end: ; */
    inline-size: 188px;
    margin-block-start: 20px;
    /* margin: auto; */

}

a{

    color: var(--grisclaroscuro);
    
}
hr{
    margin-block: 40px;
    border-color: var(--grisclaroscuro);
}

h1{
    
    margin-block-start: 20px;
    margin-block-end: 16px;
    font-size: 40px;
    font-weight: bold;

}
#inicio p{
    margin-block-end: 80px;
}

h2{
    margin-block: 40px;
    font-size: 32px;
    font-weight: bold;

}
h3{
    margin-block: 16px;
    font-size: 24px;
    font-weight: 600;
}

p{
    font-size: 16px;
    color: var(--grisclaroscuro);
    letter-spacing: .5px;
    margin-block: 16px;

}
#modelo-de-caja p{
    color: var(--grisclaroscuro);
}
.pregunta{
    color: var(--grisclarito);
}
.pregunta a:hover{
    color: var(--grisclarito);
    text-decoration: underline;

}

blockquote{
    margin-block-start: 80px;
    margin-block-end: 64px;
    background-color: var(--grispre);
    border-radius: 0 8px 8px 0;
    line-height: 32px;
    font-size: 24px;
    padding: 24px;
    border-inline-start: 4px solid var(--grisclarito);
    /* margin-inline: auto; */
    /* inline-size: 636px; */
    /* padding-inline-start: 24px; */
    /* padding-inline-end: 24px; */
    /* padding-inline-start: 24px; */
    /* padding-block-end: 24px; */
}
blockquote p{
    color: var(--grisclarito);
}

pre{

    background: var(--grispre);
    padding: 40px;
    border-radius: 8px;
    /* border-end-end-radius: 60px;
    border-start-start-radius: 60px;
    border-start-end-radius: 60px;
    border-end-start-radius: 60px; */
    margin-block-start: 16px;
    margin-block-end: 40px;
    overflow: auto;
    /* border: 10px solid var(--grisclaroscuro);
    box-shadow: -10px 10px 0 0 var(--grisdegradado); */

}
main hr{
    display: none;
}
::selection{
    background: rgb(228, 201, 201);

}
#setup img{
    margin-block-start: 40px;
    margin-block-end: 16px;
    display: block;
}
#conceptos-escenciales img{
    max-inline-size: 100%;
}

.rallita{
    counter-increment: tittleList;
}

.rallita::before{
    content: counter(tittleList) ". ";

}


.wrapper{
    max-inline-size: 900px;
    /* overflow: hidden; */
    margin: auto;
}
/* .main{
    padding: 10px;

} */
.main-content{
    /* border: 1px solid var(--grispre); */
    padding-inline: 16px;
    
}

/* .slider{
    border: 1px solid var(--grisclarito);
    border-radius: 10px;

} */
.slider_container{
    /* block-size: 100px; */
    display: block;
    overflow: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
    font-size: 0;
    /* border: 1px solid var(--azuldegradado); */
}

.videito{
    /* padding: 0; */
    /* border: 1px solid var(--azuldegradado); */
    margin: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}
.slider_bullet_list{
    text-align: center;
    margin-block-start: 10px;
}

.slider-bullet{
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    background-color: var(--grisclarito);
    border-radius: 50px;
    margin: 5px;
}

.pregunta{
    margin-block-start: 50px;
    margin-block-end: 40px;

}
.pregunta a{
    color: #157EFB; 
}

footer{
    height: 174px;
    background-color: var(--grisclarito);
}
footer p{
    color: var(--grisdefondo);
    text-align: center;
}

.form input{
    margin-block-end: 24px;
    display: block;
    background-color: transparent;
    color: var(--grisclarito);
    border: 1px solid var(--grisclarito); 
    padding-block: 12px;
    padding-inline: 16px;
    border-radius: 8px;
    box-sizing: border-box;
    inline-size: 100%;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}
.form input[type="submit"]{
    background-color: #157EFB;
    border: none;
    margin-block-end: 80px;
}
.form input[type="submit"]:hover{
    cursor: pointer;
}
.form input::-webkit-input-placeholder{
    color: var(--grisclaroscuro);
}

@media screen and (min-width: 1250px){
    .header{
        position: sticky;
        inset-block-start: -40px;
    }
    header li{
        margin-block-end: 16px;
    }
    .header-content{
        position: relative;
        inset-block-start: 65px;
        padding-inline: 0;
    }
    header{
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: -148px;
        inline-size: 188px;
        margin: 0;
    
    }
    .bg-image{
        block-size: 250px;
    }
    .main{
        padding-inline-start: 150px;
    
    }
    h1{
    font-size: 60px;
    margin-block-start: 64px;
    }

}